<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}}</title>
    <script src="/public/js/common/react/react.js"></script>
    <script src="/public/js/common/react/react-dom.js"></script>
    <script src="/public/js/common/react/browser.min.js"></script>
    <script src="/public/js/common/react/pubsub.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" ></script>
</head>
<body>


<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="../../">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">聊天室</h3>
            <h4  id="EV-username"></h4>
        </div>
        <div class="panel-body">
            <div class="list-group col-xs-1 col-sm-1 col-md-1" id="userInfo">
                <a href="#" class="list-group-item">
                    欢迎:
                </a>
                <a href="#" class="list-group-item">
                    <img src="public/images/244_1.png" alt="tx" class="img-circle">
                </a>
                <a href="#" class="list-group-item">
                    <h4 data-id={{id}}>{{author}}</h4>
                </a>
                <a href="javascript:;" class="list-group-item" id="EV-logOut">
                  退出
                </a>
            </div>
            <div class="list-group col-xs-2 col-sm-2 col-md-2" id="EV-userList">
                <a href="#" class="list-group-item">
                   当前在线
                </a>
                <!--&lt;!&ndash;//模板方法查询全部用户&ndash;&gt;-->
                <!--{% for author in authors %}-->
                <!--<a class=" list-group-item {% if loop.first %} active{% endif %}"  >{{ author.name }}</a>-->
                <!--{% endfor %}-->
            </div>
            <div class="col-xs-9 col-sm-8 col-md-8 sayContent" id="EV-chatList">
                <!--<h4 class="text-right">当前登陆:{{author}}-->
                    <!--&lt;!&ndash;<small>Subtext for header</small>&ndash;&gt;-->
                <!--</h4>-->
                <!--<ul class="list-group">-->
                    <!--<li class="list-group-item">Cras justo odio</li>-->
                    <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
                    <!--<li class="list-group-item">Morbi leo risus</li>-->
                    <!--<li class="list-group-item">Porta ac consectetur ac</li>-->
                    <!--<li class="list-group-item">Vestibulum at eros</li>-->
                <!--</ul>-->
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control">-->
                  <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-default" type="button">Go!</button>-->
                  <!--</span>-->
                <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
            </div>


        </div>
    </div>

    <div id="miao1">
    </div>
</div> <!-- /container -->

<!--/***-->
<!--* WebSocket-->
<!--* *********************-->
<!--* */-->
<script src="/public/js/socket.io/socket.io.js"></script>
<script>

    var iosocket = io.connect();

    $(function(){
        var usrId= $("#userInfo h4").data("id").trim();
        var userName = $("#userInfo h4").text().trim();
        iosocket.on('connect', function () {
           console.log("已连接")
            iosocket.on('message', function(message) {
                if(message.userId != usrId){
                    $('#EV-chatList ul').append($('<li class="list-group-item"></li>').text(message.userName+":"+message.content));
                }
            });
            iosocket.on('disconnect', function() {
                $('#incomingChatMessages').append('<li>失去连接</li>');
            });
        });
            //发布信息
        $('#userSubmit').click(function(event) {
//                event.preventDefault();
                var obj = {username:userName,"content":$('#userInput').val()};
                iosocket.send(obj);
                console.log(obj);
        });
        $("#EV-logOut").click(function(){
           location.href="/index/login"
        });
        //告诉服务器端有用户登录
        iosocket.emit('login', {userId:usrId, userName:userName});

        //监听新用户登录
        iosocket.on('login', function(obj){
            if(obj.isLogin){
                alert("您已经登录");
                location.href="/index/login"
            }else{
                console.log(obj.userName+"登录了");
                var str='<li class="list-group-item">当前在线</li>';
                for(var x in obj.onlineUsers ){
                    str += '<li class="list-group-item" data-id="'+x+'">'+obj.onlineUsers[x]+'</li>';
                }
                $('#EV-userList').html(str);
            }
        });


        //监听用户退出
        iosocket.on('logout', function(obj){
            console.log(obj.userName+"用户退出");
            var str='<li class="list-group-item">当前在线</li>';
            for(var x in obj.onlineUsers ){
                str += '<li class="list-group-item" data-id="'+x+'">'+obj.onlineUsers[x]+'</li>';
            }
            $('#EV-userList').html(str);
        });

      setTimeout(function(){
          $("#EV-chatList").scrollTop($("#EV-chatList .list-group").height()+$("#EV-chatList .input-group").height() -$("#EV-chatList").height());
      },1000)
    });
</script>
<input type="text" id="outgoingChatMessage">
控制台:&nbsp;<ul id="incomingChatMessages"></ul>

<!--/***-->
<!--* WebSocket-->
<!--* *********************-->
<!--* */-->
<script type="text/babel" charset="UTF-8" src="/public/js/miao1.js"></script>
<script type="text/babel" charset="UTF-8" src="/public/js/index/index.js"></script>

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/public/js/common/bootstrap/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/js/common/bootstrap/ie10-viewport-bug-workaround.js"></script>


</body>
</html>
